logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.ensime
/.ensime_lucene
/.vagrant

bin
.cache
.DS_Store
/.settings
/.target
public/images/users/*
logfile
