h2#post-title span#post-edit {
    color: #888;
    font-weight: lighter;
    font-size: small;
}

div#post-content {
    padding: 0px 0 10px;
}

div#post-date {
    color: #555;
    font-size: small;
}

div#post-date > span{
    font-style: italic;
}

div#initial-comments {
    display: none;
}

div.comments {
    border-style: dotted;
    margin-top: 5px;
    padding: 5px;
}

span.comment-uname {
    font-weight: bold;
}

span.comment-timestamp {
    color: #555;
}

span.comment-content {
    display: block;
}
