h2#post-title span#post-edit {
    color: #888;
    font-weight: lighter;
    font-size: small;
}

div#post-content {
    padding: 0px 0 10px;
}

div#post-content > p,
div#post-content > ul,
div#post-content > pre,
div#post-content > blockquote {
    margin: 5px 0 10px 10px;
}

div#post-content > pre,
div#post-content > blockquote {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 10px;
}

div#post-date {
    color: #555;
    font-size: small;
}

div#post-date > span {
    font-style: italic;
}

div#comment-form-separator {
    margin: 5px 0;
    display: none;
}

div#initial-comments {
    display: none;
}

div.comments {
    border: solid 1px #ccc;
    margin-top: 5px;
    padding: 5px;
}

span.comment-uname {
    font-weight: bold;
}

span.comment-timestamp {
    color: #555;
}

span.comment-content {
    display: block;
}

li {
    margin: 0 0 0 1em;
    padding: 0;
}

hr.entry-separator {
    margin: 10px 0 10px;
}

div#paging-left {
    text-align: left;
    float: left;
}

div#paging-right {
    text-align: right;
}
