@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: verdana, sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

div#header {
    background: #eee;
    border-bottom: thin dotted #000;
    font-size: 65%;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}

div#header-left {
    text-align: left;
    float: left;
}

div#header-right {
    text-align: right;
}

div#logo {
    margin: 10px;
}

div#content {
    width: 95%;
    margin: 0 auto;
}

nav ul.main-menu li {
    font-size: x-large;
    list-style: none;
    text-shadow: 1px 1px 3px #000;
    margin: 5px 0 5px 0;
}

nav ul.main-menu li a {
    text-decoration: none;
}

br#float-margin-trick {
    clear: both;
}

footer {
    margin-top: 10px;
    padding: 5px 0 5px 0;
    text-align: center;
    border-top: thin dotted #000;
}

@media screen and (min-width: 768px) {
    div#content #main,
    div#content #sub {
        float: left;
        margin: 0 1%;
    }
    div#content #main { width: 65%; }
    div#content #sub { width: 31%; }
}
