@charset "utf-8";

span#delete-article {
    font-size: small;
}

div#drag-drop {
    border: solid 1px #ccc;
    padding: 10px;
    width: 100%;
}

div#drag-drop > p {
    border: solid 1px #ccc;
    padding: 10px;
    width: 100%;
}

div.dz-preview {
    margin-top: 10px;
}

div.dz-filename,
div.dz-size,
div.dz-success-mark,
div.dz-error-mark,
div.dz-error-message {
    display: none;
}

