@(message: String, post: models.Post, comments: List[models.Comment])

@import java.util.Date
@import com.tristanhunt.knockoff.DefaultDiscounter.{knockoff, toXHTML}

@main(message) {

<div id="main">
  <h2 id="post-title">@post.title<span id="post-edit"> - <a href="/post/@post.published_at">編集</a></span></h2>

  <div id="post-content">@(toXHTML(knockoff(post.content)))</div>
  <div id="post-date">投稿日: <span>@{"%tY/%<tm/%<td %<tH:%<tM:%<tS" format new Date(post.published_at)}</span></div>

  <hr />

  <div id="view-comment">
    <div id="comment-list"></div>
    <div id="comment-form-separator" ><hr /></div>
    <form id="submit">
    <input id="post_id" type="hidden" name="post_id" value="@post.id" />

      <div>
        <label>お名前</label>
        <div>
          <input id="comment-uname" type="text" name="uname" size="48" placeholder="(省略可能) お名前を入力してください" />
        </div>
      </div>

      <div>
        <label>コメント</label>
        <div>
          <textarea id="comment-content" name="content" placeholder="コメントを書いて下さい" rows="5"></textarea>
        </div>
      </div>

      <div>
        <div>
          <input id="submit-button" type="submit" value="投稿" />
        </div>
      </div>

    </form>
  </div>

  <div id="initial-comments">
    @for(comment <- comments) {
      <span class="comments">
        <span class="comment-uname">@comment.uname</span>
        <span class="comment-timestamp">@{"%tY/%<tm/%<td %<tH:%<tM:%<tS" format new Date(comment.created_at)}</span>
        <span class="comment-content">@comment.content</span>
      </span>
    }
  </div>
</div>

<div id="sub"></div>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/form.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/entry.css")">

<script src="@routes.Assets.at("javascripts/entry.js")" type="text/javascript"></script>

<script type="text/template" id="comment-template">
  <div class="comments">
    <span class="comment-uname"><%= uname %></span>
    -
    <span class="comment-timestamp"><%= timestamp %></span>
    <span class="comment-content"><%= content %></span>
  </div>
</script>
}
