@(message: String, uname: Option[String])

@main(message) {

<div id="main">
  <h2>web日記とは</h2>
  <p>web日記は日記を簡単にインターネットで公開できるサービスです。</p>
</div>

<div id="sub">
  <nav>
    <ul class="main-menu">
      @if(uname) {
        <li><a class="button" href="/post">記事の投稿</a></li>
        <li><a class="button" href="http://@{uname}.@{play.api.Play.current.configuration.getString("service.domain")}@if(play.api.Play.current.configuration.getString("service.port")) {:@play.api.Play.current.configuration.getString("service.port")}">自分の日記</a></li>
        <li><a class="button" href="/logout">ログアウト</a></li>
      } else {
        <li><a class="button" href="/signup">ユーザー登録</a></li>
        <li><a class="button" href="/login">ログイン　</a></li>
      }
    
    </ul>
  </nav>
</div>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
}
