@(message: String, uname: Option[String])

@main(message) {

<div id="main">
  <p>ここにちょっとweb-nikkiオフィシャルのブログの記事を3つくらい載せておきたい。RSSパーサから取ってきて自動的に載るようにしておく。いや、どうだろう...最初はチュートリアル的な記事が出るようにした方がいいのかな...。</p>
  <p>あ、いや、違うかな。web-nikkiについての説明があるべきかな。</p>
</div>

<div id="sub">
  <nav>
    <ul class="main-menu">
      @if(uname) {
        <li><a href="/post">新しい記事の投稿</a></li>
        <li><a href="http://@{uname}.@{play.api.Play.current.configuration.getString("service.domain")}@if(play.api.Play.current.configuration.getString("service.port")) {:@play.api.Play.current.configuration.getString("service.port")}">自分の日記</li>
        <li><a href="/logout">ログアウト</a></li>
      } else {
        <li><a href="/signup">ユーザー登録</a></li>
        <li><a href="/login">ログイン</a></li>
      }
    
    </ul>
  </nav>
</div>
}
