@(title: String, loginName: Option[String])(content: Html)

@import play.api.Play.current

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/jquery-toastmessage-plugin/resources/css/jquery.toastmessage.css")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore-1.4.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone-0.9.10.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/jquery-toastmessage-plugin/javascript/jquery.toastmessage.js")" type="text/javascript"></script>

    </head>
    <body>
         <div id="header">
           <div id="header-left">web日記へようこそ!</div>
           <div id="header-right">
             @{
             loginName match {
               case Some(x) => {
                 val userUrl = current.configuration.getString("service.scheme").get + "://" + x + current.configuration.getString("session.domain").get
                 val manageUrl = current.configuration.getString("service.url").get + "manage"
                 val logoutUrl = current.configuration.getString("service.url").get + "logout"
                 Html(s"""こんにちは <a href="$userUrl">$x</a> さん - <a href="$manageUrl">管理</a> - <a href="$logoutUrl">ログアウト</a>""")
               }
               case _ => {
                 val loginUrl = current.configuration.getString("service.url").get + "login"
                 val signupUrl = current.configuration.getString("service.url").get + "signup"
                 Html(s"""<a href="$loginUrl">ログイン</a> - <a href="$signupUrl">ユーザー登録</a>""")
               }
             }}
           </div>
         </div>
         <div id="logo"><a href="/"><img src="@routes.Assets.at("images/logo-200-64.png")" alt="logo" /></a></div>
         <div id="content">@content</div>
         <br id="float-margin-trick" />
         <footer>
             <p>&copy; web日記</p>
         </footer>
    </body>
</html>
