@(loginName: Option[String], css: String, js: String, uname: String, posts: List[models.Post])

@import play.api.Play.current

@main(s"$uname のトップページ - web日記", loginName) {

<ul>
@for(post <- posts) {
  <li>
    <a href="http://@{uname}.@{current.configuration.getString("service.domain")}/entry/@post.created_at">@if(post.title.isEmpty) {(タイトル未設定)} else {@post.title}</a>
    /
    @post.content
  </li>
} 
</ul>

<style type="text/css">@Html(css)</style>
<script type="text/javascript">@Html(js)</script>
}
