@(postForm: Form[(String, String, String)], errorMessage: Option[String])

@import helper._

@main("記事投稿") {

<form id="submit">
@if(!postForm("token").value.isEmpty) { <input id="token" type="hidden" name="token" value="@postForm("token").value" /> }
<table>
  <tr id="title-tr">
    <td>タイトル</td>
    <td><input id="title" type="text" name="title" size="48" placeholder="タイトルを入力してください" value="@postForm("title").value" /> <span id="title-info" class="form-info"></td>
  </tr>
  <tr id="content-tr">
    <td>記事</td>
    <td>
    <textarea id="content" name="content" placeholder="記事を書いてください">@postForm("content").value</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" value="投稿" /></td>
  </tr>
</table>

<script src="@routes.Assets.at("javascripts/post.js")" type="text/javascript"></script>
}
