@(loginName: Option[String], postForm: Form[(String, String, String, String)])

@main("記事投稿 - web日記", loginName, None) {

<div id="main">
  <p id="link"></p>
  <form id="submit">
    <input id="created_at" type="hidden" name="created_at" value="@postForm("created_at").value" />
    @if(!postForm("token").value.isEmpty) { <input id="token" type="hidden" name="token" value="@postForm("token").value" /> }
    <header>
      <div><p>記事投稿</p></div>
    </header>

    <div>
      <label>タイトル</label>
      <div>
        <input id="post-title" type="text" name="title" size="48" placeholder="タイトルを入力してください" value="@postForm("title").value" />
      </div>
    </div>

    <div>
      <label>記事</label>
      <div>
        <textarea id="post-content" name="content" placeholder="記事を書いてください" rows="20">@postForm("content").value</textarea>
      </div>
    </div>

    <div>
      <div>
        <input id="submit-button" type="submit" value="@if(postForm("title").value) {編集} else {投稿}" />
        @{
          postForm("created_at").value match {
            case Some(x) => Html("""<span id="delete-article"><a href="javascript:void(0)">記事の削除</a></span>""")
            case _ => ""
          }
        }
      </div>
    </div>
  </form>
</div>

<div id="sub">
<div id="drag-drop">
<p>画像をドラッグ&amp;ドロップ！</p>
</div>
</div>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/form.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/post.css")">
<script src="@routes.Assets.at("javascripts/dropzone-3.1.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/post.js")" type="text/javascript"></script>
}
