@(memberForm: Form[(String, String, String)])

@import helper._

@main("ユーザー登録 - web日記") {

<div id="main">
  <form id="submit">
    <header>
      <div><p>ユーザー登録</p></div>
    </header>

    <div>
      <label>お名前</label>
      <div>
        <input id="uname" type="text" name="uname" size="48" placeholder="お名前を入力してください" /> <span class="alert" id="uname-info"></span>
      </div>
    </div>

    <div>
      <label>メールアドレス</label>
      <div>
        <input id="email" type="text" name="email" size="48" placeholder="メールアドレスを入力してください" /> <span class="alert" id="email-info"></span>
      </div>
    </div>

    <div>
      <label>パスワード</label>
      <div>
        <input id="password" type="password" name="password" size="48" placeholder="8文字以上のパスワードを入力してください" /> <span class="alert" id="password-info"></span>
      </div>
      <div>
        <input id="password-check" type="checkbox" /> <span>パスワードを確認しますか?</span>
      </div>
    </div>

    <div>
      <label>利用規約</label>
      <div>
        <input id="terms-of-service" type="checkbox" /> <span><a href="/signup/tos" target="_blank">利用規約</a>に同意しますか?</span>
      </div>
    </div>

    <div>
      <div>
        <input type="submit" value="登録" />
      </div>
    </div>
  </form>
</div>

<div id="sub"></div>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/form.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signup.css")">
<script src="@routes.Assets.at("javascripts/signup.js")" type="text/javascript"></script>
}
