@()

@main("利用規約") {

<div id="main">
<h2>記事の著作権</h2>
<p>書かれた記事の著作権はサービスの利用者にあります。ただし、記事の内容に問題がある場合はweb日記開発チームが記事の公開を停止する場合があります。</p>

<h2>記事の公開を停止する基準</h2>
<p>次の項目に該当する場合はweb日記開発チームが記事の公開を停止する場合があります。</p>

<ul>
<li><p>記事が公序良俗に反している場合</p><ul>
<li>アダルトな内容 / グロテスクな内容 / 他人を誹謗中傷する内容 などが該当します</li></ul></li>
<li>SEOスパムが目的である場合</li>
<li>その他、web日記開発チームが不正だと判断する記事</li>
</ul>
<p>記事の公開を停止する前にweb日記開発チームは警告メールを送る予定ですが、場合によっては緊急に記事の公開を停止する場合もあります。</p>

<h2>サービスの永続性について</h2>
<p>web日記は可能な限り長くサービスを続けるつもりですが、何らかの理由でサービスの継続が困難になった場合、サービスを停止する可能性があります。</p>

<h2>この文書について</h2>
<p>この文書はバージョン管理ツールで管理されています。文書改定の際には、以前の版との差分を公開いたします。</p>
</div>

<div id="sub"></div>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/termsOfService.css")">
}
